<p>test works! bindign 1 way</p>
<ul>
    <li><b>Name</b> : {{name}}</li>
    <li><b>Age</b> : {{age}}</li>
    <li><b>Email</b> : {{email}}</li>
</ul>

<h3>ตัวแปร Diractory</h3>
<ul>
    <li><b>street</b> : {{address.street}}</li>
    <li><b>city</b> : {{address.city}}</li>
    <li><b>province</b> : {{address.province}}</li>
    <li><b>postcode</b> : {{address.postcode}}</li>
</ul>

<h3>ตัวแปร Aray</h3>
<ul>
    <li *ngFor="let skill of skills;let i =index;"><b>Skill</b> : 
    {{i+1}}.{{skill}}
    <button (click)=DeleteSkill(skill)>**Delete**</button>
    </li>
</ul>
<h3>From</h3>
<form (submit)="addSkill(skill.value)">
    <div>
        <label>Skill :</label>
        <input type="text" #skill>
    </div>
</form>

<h3>Edit profiles  การ  binding two way add Mudule form</h3>
<form>
    <div>
        <label for="name"><b>Name :</b></label>
        <input type="text"[(ngModel)]="name" name="name">
    </div>
    <div>
        <label for="age"><b>Age :</b></label>
        <input type="text"[(ngModel)]="age" name="age">
    </div>
    <div>
        <label for="email"><b>Email :</b></label>
        <input type="text"[(ngModel)]="email" name="email">
    </div>
</form>

<h2>Api json </h2>
<uL>
    <li *ngFor="let ApiTodo of LoadApiTodo;let i =index">
        {{i}}.... {{ApiTodo.completed}} 
    </li>
</uL>
